* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #425b94;
}


.container {
    background: #425b94;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

#intro, #game-over {
    text-align: center;
    border-bottom: #00030a 1px solid;
    padding-bottom: 20px;
    font-weight: 600;
}

#intro h1, #game-over {
    padding-bottom: 10px;
    font-style: italic;
    font-size: 300%;
}

.btn {
    background: #fff;
    color: black;
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;   
}

.btn:hover {
    background: #bd6271;
    color: #fff;
}

.hide {
    display: none;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-image {
    width: 200px;
    height: auto;
}

#start-btn, #next-btn, #home-btn, #short-game-btn, #long-game-btn {
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    /* position: relative; */
    font-size: 1.5rem;
    font-weight: bold;
    margin: 20px;
    padding: 10px;
    width: 10rem;
    text-align: center;
}

.btn.correct {
    background-color: rgb(24, 243, 4);
}

.btn.wrong {
    background-color: rgba(243, 7, 7, 0.979);
}

